.auth-container {
    width: 100%;
    height: 100%;
  }

.auth-content{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav-content {
  padding: 15px !important;
  display: flex !important;
  height: 100vh !important;
  width:auto !important;
  align-items: center;
  justify-content: center;
}
