.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 ::ng-deep  .mat-stepper-horizontal .mat-horizontal-stepper-header {
  padding: 10px;
  height:auto;
}
::ng-deep  .mat-stepper-horizontal .mat-stepper-horizontal-line {
  margin: 0 -4px; 
}

::ng-deep  mat-form-field .mat-form-field {
  &-underline {
    position: relative;
    bottom: auto;
  }
  &-subscript-wrapper {
    position: static;
  }
}