
<div fxFlex="100" fxLayout="column">

    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" class="mt-20">
        <div fxFlex="100">
            <mat-card>
                <mat-card-content fxLayout = "column" fxLayoutGap="10px">
                    <div fxFlex="100" fxLayout = "row" fxLayoutAlign="space-between center">
                        <div fxFlex="100">
                            O+
                        </div>
                        <div fxFlex="100" fxLayoutAlign="end none">
                            5000
                        </div>
                    </div>
                    <div fxFlex="100" fxLayout = "row" fxLayoutAlign="space-between center">
                        <div fxFlex="100">
                            Available to donate
                        </div>
                        <div fxFlex="100" fxLayoutAlign="end none">
                            500
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="100">
            <mat-card>
                <mat-card-content fxLayout = "column" fxLayoutGap="10px">
                    <div fxFlex="100" fxLayout = "row" fxLayoutAlign="space-between center">
                        <div fxFlex="100">
                            O+
                        </div>
                        <div fxFlex="100" fxLayoutAlign="end none">
                            5000
                        </div>
                    </div>
                    <div fxFlex="100" fxLayout = "row" fxLayoutAlign="space-between center">
                        <div fxFlex="100">
                            Available to donate
                        </div>
                        <div fxFlex="100" fxLayoutAlign="end none">
                            500
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <app-bloodSearch class="ml-10 mr-10"></app-bloodSearch>

    <!-- <app-map></app-map> -->
</div>

    

    

    


