
<mat-card>
  <mat-card-header class="global-chatbox-header">
    <mat-card-title class="shoutbox-text">Shoutbox</mat-card-title>
  </mat-card-header>
  <mat-card-content class="global-chat-box">
    <div>
      <ul>
        <li *ngFor="let mObj of msgInboxArray" [ngClass]="mObj.user === msgDto.user ? 'in-msg' : 'ex-msg'"><span *ngIf="mObj.userId !== msgDto.userId"><b class="chatbox-username">{{mObj.user}} :&nbsp;</b></span><span class="msg-italic-style">{{mObj.message}}</span></li>
      </ul>
    </div>
  </mat-card-content>
   
  <mat-card-actions>
    <div class="global-chat-texbox" fxLayout="row">
      <input  matInput  type="text"   [(ngModel)]="msgDto.message"  />
      <button mat-flat-button class="send-btn" color="warn" (click)= "send()"><mat-icon aria-hidden="false" aria-label="Send">send</mat-icon>&nbsp;&nbsp;Send</button>
    </div>
  </mat-card-actions>
</mat-card>