<mat-drawer-container  class="container" autosize>

  <mat-drawer  #drawer class="sidenav" mode="side">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header  *ngIf="isLoggedIn">
          <mat-panel-title fxLayoutAlign="center">
            {{personn?.fullName}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a mat-button [routerLink]="['/user']" >
            <mat-icon class="material-icons-outlined mr-10" aria-hidden="false" aria-label="account icon">account_circle</mat-icon>
            Profile</a>
        </div>
        <div>
          <button mat-button (click)="logout(drawer)">
            <mat-icon class="material-icons-outlined mr-10" aria-hidden="false" aria-label="logout icon">logout</mat-icon>
            logout
          </button>
        </div>
      </mat-expansion-panel>
      <mat-divider class="mt-20"></mat-divider>
    </mat-accordion>
    <div class="mt-20 ml-20">
      <a mat-button [routerLink]="['/dashboard']" >
        <mat-icon class="material-icons-outlined mr-10" aria-hidden="false" aria-label="logout icon">dashboard</mat-icon>
        Dashboard
      </a>
    </div>
  </mat-drawer>
  
  <mat-drawer-content class="overflow-hidden" fxFlex="100" fxLayout="row">

      

    <div fxFlex="100" fxLayout="column">
      <div (click)="toggleSideNav(drawer)">
        <app-toolbar></app-toolbar>
      </div>
     
      <div class="sidenav-content" fxFlex="100" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">        
            <div fxFlex="100" class="enable-scrollbar">
              <router-outlet></router-outlet>
            </div>
            <div fxFlex="15"  fxLayout="column" fxLayoutAlign="start center" >
              <div fxFlex="100" class="mt-20" class="color-green" >
                <app-recent-BloodRequests ></app-recent-BloodRequests>
              </div>
            </div>
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
