/* .request-blood{
    min-width: 100%;
    display: block;
} */

.demo{
    width: 100%;
   // height: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    //margin: 5px;
}

.bloodRequests{
    min-height: 100%;
    box-sizing: border-box;
    margin-left: 5px;
    text-align: justify;
}
.font-smaller{
    font-size: small;
}
.font-smallest{
    font-size: x-small !important;
}

.mb-5{
    margin-bottom: 5px !important;
}
.ml-5{
    margin-left: 5px;
}

.bloodpostTitle{
    color: rgb(21 119 122 / 90%) !important;
}

.bloodpostHeight{
    height: auto !important;
}

.headerButton{
    color: whitesmoke;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(21 119 122 / 90%) !important;
}